@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  margin: 0;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
}

button {
  background: #1b2c50;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table,
td,
th {
  text-align: center;
}

th {
  background-color: #5f1f1a;
  height: 2.4rem;
}

tr:nth-child(even) {
  background-color: #4f5d65;
}

tr:nth-child(odd) {
  background-color: #37444a;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(244, 241, 234);
  background: rgb(27, 44, 80);
  background: linear-gradient(
    180deg,
    rgba(27, 44, 80, 1) 0%,
    rgba(95, 31, 26, 1) 50%
  );
  border-radius: 5px;
}

::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}
