.background {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background: url("/Player.png");
  background-position: center 45%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

.rectangles {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40%;
  z-index: -1;
}

.rectangle1 {
  height: 65%;
  flex-shrink: 0;
  background-color: #1b2c50;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.rectangle2 {
  height: 35%;
  flex-shrink: 0;
  background-color: #f4f1ea;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
