@media screen and (max-width: 1300px) {
  .main {
    width: 100% !important;
  }
}

.main {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0;
  height: 70%;
}

.importantGames {
  display: flex;
  width: 100%;
  height: fit-content;
  padding: 13px 30px;
  align-items: center;
  justify-content: left;
  gap: 35px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
  background-color: #1b2c50;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow-x: scroll;
}

.bets {
  text-align: center;
  align-self: stretch;
  overflow-y: scroll;
  overflow-x: auto;
}

.card {
  color: black;
  font-weight: 600;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 0.75rem;
  gap: .6rem;
  align-self: stretch;
  border-radius: 10px;
  background: #d9d9d9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.odds {
  font-weight: 500;
  color: white;
  display: flex;
  font-size: 11px;
  justify-content: center;
  align-items: center;
  padding: 2px 5px;
  border-radius: 4px;
  background: #135d83;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.25),
    0px 2px 2px 0px rgba(0, 0, 0, 0.25), 0px 3px 1px -2px rgba(0, 0, 0, 0.25);
}

.sports {
  display: flex;
  padding-bottom: 1rem;
  justify-content: center;
  align-items: flex-start;
  gap: 14px;
  flex: 1 0 0;
  align-self: stretch;
}
